.chat-page .bottom {
  width: 100%;
  position: fixed;
  left: 90px;
  bottom: 0;
  background: #fff;
  z-index: 100; }


.chat-window-title{
	border-radius: 10px;
	background-color: #23b5ae;
}
